@import '../styles/library.scss';

.about-c {
    width: 70%;
    margin: 0 auto;
    
    h1 {
        color: $header-color;
        font-size: clamp(2em, 3vw, 3em);
        margin: 130px 0 25px;
    }

    .section-subhead {
        @include subhead;
    }

    p {
        @include bodycopy;
    }

    .about-img-c {
        display: flex;
        grid-gap: 15px;
        margin: 60px 0;

        img {
            width: 40%;
        }
    }

    .services-c {
        display: flex;
        margin-top: 70px;
        grid-gap: 50px;

        img {
            height: 350px;
        }
    }
}